# Entorno de Ejecución
Node.js >= 26.7.0
NPM >= 11.19.0

# Herramientas Core (CLI)
@angular/cli >= 22.2.1
typescript >= 6.0.2

# Framework y Librerías Principales
@angular/core >= 22.2.0
@angular/router >= 22.2.0
@angular/forms >= 22.2.0
@angular/common >= 22.2.0
rxjs >= 7.8.0

# Arquitectura Micro Frontends
@angular-architects/native-federation >= 22.2.2
@softarc/native-federation-orchestrator >= 4.6.0
es-module-shims >= 2.8.0

# Estilos y Diseño
tailwindcss >= 4.3.3
@tailwindcss/postcss >= 4.3.3
postcss >= 8.5.28

# Pruebas y Herramientas de Desarrollo
vitest >= 5.0.0
jsdom >= 30.0.0
prettier >= 3.8.1
